*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
form{
    box-shadow: 1px 3px 20px #ffffff;
    font-family: 'Times New Roman', Times, serif;
}